* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

:root {
  --bg-dark: #181826;
  --text-light: #ffffff;
  --accent: #00fb69;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: var(--text-light);

  background:
    linear-gradient(rgba(68, 68, 91, 0.7), rgba(30, 30, 39, 0.9)),
    url("bg.jpg") center/cover no-repeat;
  background-attachment: scroll;
}

@media (min-width: 769px) {
  body {
    background-attachment: fixed;
  }
}

a, button {
  color: var(--text-light);
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(15, 15, 20, 0.95);
  z-index: 999;
}

@supports (backdrop-filter: blur(8px)) {
  .header {
    backdrop-filter: blur(8px);
  }
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.4rem;
  font-weight: 700;
}

.brand span {
  color: var(--accent);
}


.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
}

.menu-toggle span {
  width: 28px;
  height: 2px;
  background: #ffffff51;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}


@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    z-index: 1001;
  }

  .nav-links {
    position: fixed;
    inset: 0;
    background: var(--bg-dark);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: .45s cubic-bezier(.4,0,.2,1);
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links li {
    opacity: 0;
    transform: translateY(20px);
    transition: .4s ease;
  }

  .nav-links.open li {
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links.open li:nth-child(1) { transition-delay: .1s }
  .nav-links.open li:nth-child(2) { transition-delay: .2s }
  .nav-links.open li:nth-child(3) { transition-delay: .3s }
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(12, 12, 12, 0.33);
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  z-index: 998;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}


.panel {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%) translateX(40px);
  width: 320px;
  background: var(--bg-dark);
  border-radius: 12px;
  padding: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: .4s cubic-bezier(.4,0,.2,1);
  z-index: 999;
}

.panel.open {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
  pointer-events: all;
}

.close-panel {
  position: absolute;
  top: .5rem;
  right: .7rem;
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .panel {
    top: auto;
    bottom: 1rem;
    right: 1rem;
    width: calc(100% - 2rem);
    transform: translateY(30px);
  }

  .panel.open {
    transform: translateY(0);
  }

  .sonic {
    display: none;
  }
}


.sonic {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 45px;
  pointer-events: none;
}

